<div>
    <div style="margin-bottom: -16px;">
        <div class="_2h22gn">
            <div class="_iq8x9is">
                <div style="margin-bottom: 16px;">
                    <div class="_qtix31">
                        <div class="_1thk0tsb">
                            <div style="margin-right: 8px;"><span class="_12i0h32r"><span class="_8tbpu3" aria-hidden="true">󰄂</span></span>
                            </div>
                        </div>
                        <div class="_1thk0tsb"><span class="_fgdupie">2 huéspedes</span></div>
                    </div>
                </div>
                <div style="margin-bottom: 16px;">
                    <div class="_qtix31">
                        <div class="_1thk0tsb">
                            <div style="margin-right: 8px;"><span class="_12i0h32r"><span class="_8tbpu3" aria-hidden="true">󰄄</span></span>
                            </div>
                        </div>
                        <div class="_1thk0tsb"><span class="_fgdupie">1 dormitorio</span></div>
                    </div>
                </div>
            </div>
            <div class="_iq8x9is">
                <div style="margin-bottom: 16px;">
                    <div class="_qtix31">
                        <div class="_1thk0tsb">
                            <div style="margin-right: 8px;"><span class="_12i0h32r"><span class="_8tbpu3" aria-hidden="true">󰄃</span></span>
                            </div>
                        </div>
                        <div class="_1thk0tsb"><span class="_fgdupie">1 cama</span></div>
                    </div>
                </div>
                <div style="margin-bottom: 16px;">
                    <div class="_qtix31">
                        <div class="_1thk0tsb">
                            <div style="margin-right: 8px;"><span class="_12i0h32r"><span class="_8tbpu3" aria-hidden="true">󰄁</span></span>
                            </div>
                        </div>
                        <div class="_1thk0tsb"><span class="_fgdupie">1 baño</span></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>